<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunsunyun.point.mapper.PtMallMerchantMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yunsunyun.point.po.PtMallMerchant">
		<id column="merchant_id" property="merchantId" />
		<result column="mall_id" property="mallId" />
	</resultMap>


	<select id="getMerchantIdsByMallId" resultType="long">
		select merchant_id from pt_mall_merchant where mall_id = #{id}
	</select>


	<select id="getMallIdsByMerchantId" resultType="long">
		select mall_id from pt_mall_merchant where merchant_id = #{id}
	</select>

</mapper>
