<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunsunyun.point.mapper.PtOrderItemsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yunsunyun.point.po.PtOrderItems">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="goods_id" property="goodsId" />
		<result column="num" property="num" />
		<result column="image_url" property="imageUrl" />
		<result column="name" property="name" />
		<result column="point" property="point" />
		<result column="reference_price" property="referencePrice" />
		<result column="sn" property="sn" />
	</resultMap>

</mapper>
