<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunsunyun.point.mapper.PtRedemptionRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yunsunyun.point.po.PtRedemptionRecord">
		<id column="id" property="id" />
		<result column="mall_id" property="mallId" />
		<result column="member_id" property="memberId" />
		<result column="member_name" property="memberName" />
		<result column="member_phone" property="memberPhone" />
		<result column="merchant_id" property="merchantId" />
		<result column="goods_name" property="goodsName" />
		<result column="goods_num" property="goodsNum" />
		<result column="goods_point" property="goodsPoint" />
		<result column="create_time" property="createTime" />
		<result column="order_id" property="orderId"/>
		<result column="image_url" property="imageUrl"/>
		<result column="status" property="status"/>
	</resultMap>

	<resultMap id="redemptionRecordVo" type="com.yunsunyun.point.vo.PtRedemptionRecordVo" extends="BaseResultMap">
			<result column="mall_name" property="mallName"/>
			<result column="merchant_name"  property="merchantName"/>
			<result column="order_num" property="orderNum"/>
	</resultMap>

	<resultMap id="pointRecordVo" type="com.yunsunyun.point.vo.PointRecordVo">
		<id column="order_id" property="orderId"/>
		<result column="content" property="content"/>
		<result column="image_url" property="imageUrl"/>
		<result column="create_time" property="createTime"/>
		<result column="goods_point" property="goodsPoint"/>
		<result column="status" property="status"/>
	</resultMap>

	<select id="getRecordlist"  resultMap="redemptionRecordVo" >
		select r.*,m.name as mall_name ,e.user_name as merchant_name,o.order_num as order_num  from pt_redemption_record r
		LEFT JOIN pt_mall m on r.mall_id=m.id
		LEFT JOIN kn_employee e on r.merchant_id = e.id
		LEFT JOIN pt_order o on r.order_id = o.id
		<where>
			<if test="mallName!=null">
				m.name like CONCAT('%','${mallName}','%' )
			</if>
			<if test="memberName!=null">
				and ( r.member_name like CONCAT('%','${memberName}','%' )
				  or r.member_id like CONCAT('%','${memberName}','%' )
				)
			</if>
			<if test="memberPhone!=null">
				and r.member_phone like CONCAT('%','${memberPhone}','%' )
			</if>
			<if test="merchantName!=null">
				and e.user_name like CONCAT('%','${merchantName}','%' )
			</if>
			<if test="goodsName!=null">
				and r.goods_name like CONCAT('%','${goodsName}','%' )
			</if>
			<if test="goodsNum!=null">
				and r.goods_num = #{goodsNum}
			</if>
			<if test="goodsPoint!=null">
				and r.goods_point =#{goodsPoint}
			</if>
			<if test="timeStart!=null and timeEnd!=null">
				and (r.create_time between #{timeStart} and  #{timeEnd} )
			</if>
			<if test="merchantId!=null">
				and r.merchant_id = #{merchantId}
			</if>
		</where>
		order by create_time desc
	</select>

	<select id="ajaxRecordList" resultMap="pointRecordVo">
		SELECT
		order_id,
		GROUP_CONCAT(goods_name SEPARATOR " ") AS content,
		max(image_url) as image_url,
		MAX(create_time) create_time,
		SUM(case when goods_point > 0 then goods_point else goods_point end) as goods_point,
		status
		FROM
		pt_redemption_record
		WHERE
		member_id = #{memberId}
		AND
		mall_id = #{mallId}
		<if test="date!=null and date != '' ">
			AND
			from_unixtime(create_time / 1000, '%Y-%m') = #{date}
		</if>
		GROUP BY
		order_id,status
		ORDER BY
		create_time DESC
		limit #{offset},#{pageSize}
	</select>

	<select id="getRecordListSize" resultType="java.lang.Integer">
		SELECT
			SUM(temp.num)
		FROM
			(
			SELECT
				COUNT(DISTINCT order_id) num
			FROM
				pt_redemption_record
			WHERE
				member_id = #{memberId}
			AND mall_id = #{mallId}
			<if test="date!=null and date != '' ">
				AND
				from_unixtime(create_time / 1000, '%Y-%m') = #{date}
			</if>
			GROUP BY
				status
			) temp
	</select>
</mapper>
